.landingPage{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(225, 231, 233);
}

.outLet{
    min-height:450px;
    display: flex;
    direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}