.landingPage{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:5px;
    background-color: rgb(225, 225, 233);
    /* list-style: none; */
}

.outLet{
    height:5000px;
}